.venv
.vscode
.vscode-test
node_modules
out
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
.eslintrc.json
**/*.map
**/*.ts
src/**
!src/searchSidebar/sidebar.html
!src/searchSidebar/sidebar.css
!src/embedding/main.py
!src/embedding/requirements.txt
**/.vscode-test.*
.venv/**
**/tsconfig.json
**/eslint.config.mjs
.vscode/**
.vscode-test/**
out/**
node_modules/**